<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-row style="border: 3px solid black;">
    <ion-col class="ion-align-self-center" style="border: 3px solid red;" size="4">
      <label id="fruit-label">Fruit</label>
    </ion-col>

    <ion-col size="3">
      <ion-select
        placeholder="Select a fruit"
        aria-label="fruit"
        labelPlacement="stacked"
        multiple="true"
        fill="outline"
        style="border: 3px solid blue;"
      >
        <ion-select-option value="apple">Apple</ion-select-option>
        <ion-select-option value="banana">Banana</ion-select-option>
        <ion-select-option value="orange">Orange</ion-select-option>
      </ion-select>
    </ion-col>
  </ion-row>
</ion-content>
